modules = ["nodejs-24", "postgresql-16", "javascript"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "lint"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "tests with coverage - Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "tests with coverage - backend"

[[workflows.workflow]]
name = "lint"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm lint"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "tests with coverage - Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/finance-app test:coverage"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "tests with coverage - backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server test:coverage"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
